* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  background-color: lightseagreen;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 5px 5px lightseagreen;
  transition: 0.5s ease-out;
}
button:not([disabled]):hover,
button:not([disabled]):focus {
  background-color: orange;
  color: white;
  box-shadow: 0px 5px 5px orange;
  transform: scale(0.95, 0.95);
}
#panel {
  background: rgba(255, 255, 255, 0.8);
  padding: 0 20px;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-width: 33vw;
}

/* The Modal (background) */
.modal {
  opacity: 0;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
  transition: opacity 0.5s ease;
}

/* Modal Content */
.modal-content {
  position: fixed;
  right: 0;
  background-color: #fefefe;
  width: 33%;
  height: 100vh;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}

.modal-content.slide-out {
  -webkit-animation-name: slideOut;
  -webkit-animation-duration: 0.4s;
  animation-name: slideOut;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: lightseagreen;
  color: white;
}

.modal-body {
  padding: 16px 16px;
}

select {
  padding: 10px;
  border: none;
  border-bottom: 3px lightseagreen solid;
  border-radius: 3px;
  outline: none;
}

#dotes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3px;
}

@keyframes dotAnimation {
  0%     { transform: translateY(0); }
  50%    { transform: translateY(-10px); }
  100%   { transform: translateY(0); }
}

#dot {
  display: inline-block;
  transition: all 1s ease 0s;
  animation: dotAnimation 1s infinite;
  animation-delay: 0s, 0.3s, 0.6s; /* Delay for each dot */
  font-size: 20px;
}

#dot:nth-child(2) {
  animation-delay: 0.1s, 0.4s, 0.7s; /* Adjust delay for second dot */
}

#dot:nth-child(3) {
  animation-delay: 0.2s, 0.5s, 0.8s; /* Adjust delay for third dot */
}

@keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.progress-container {
  background-color: #d8d8d8;
  position: fixed;
  height: 30px;
  width: 100vw;
  bottom: 0;
  transition: opacity 0.5s ease;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  position: absolute;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

#snackbar {
  visibility: hidden;
  width: 10vw;
  background-color: white;
  color: black;
  border-top: 5px orange solid;
  box-shadow: 0px 2px 5px orange;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  margin-left: 45vw;
}
#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}